DATABASE_URL=postgresql://postgres:ojoknyolongakun@db.uwxveehxqswppkefhqgx.supabase.co:5432/postgres
NEXTAUTH_SECRET=your_nextauth_secret
GITHUB_ID=Ov23li5QS7YkHs7Hqg7l
GITHUB_SECRET=54006e56c362072b0d33d6c9d5c095fe6da33b72
CLOUDINARY_CLOUD_NAME=dqggdeakv
CLOUDINARY_API_KEY=546513319989267
CLOUDINARY_API_SECRET=iLd5xcwccfiaivxY50WjZ-IQWbY